<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: head('Baseball Posion Infomation')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"
        th:replace="fragments/common.html :: menu('listPosition')">
    </nav>

    <div class="container">
        <form action="#" th:action="@{/baseball/listposition}" th:object="${baseball}" method="post">
            <div class="row mb-3">
                <input type="text" class="form-control" id="manageId" th:field="*{manageId}" th:value="${manageId}">
                <label for="dropdownCd" class="col-sm-1 col-form-label">포지션</label>
                <div class="col-sm-2">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:field="*{dropDownCd}">
                        <option selected th:value="${dropDownCd}">Position Select</option>
                        <th:black th:each="pos : ${pos}">
                            <option id="dropDownCd" value="1" th:value="${pos.inCd}" 
                                    th:text="${pos.inNm}" th:field="*{dropDownCd}">One</option>
                        </th:black>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" 
                    th:checked="${checkBox eq 'Y' ? 'checked' : ''}" th:value="Y" th:field="*{checkBox}" id="chkeckBox">
                    <label class="form-check-label" for="chkeckBox">
                      Indeterminate checkbox
                    </label>
                  </div>
            </div>
            <div class="row mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="radioButton1" name="radioButton" th:value="P" 
                            th:checked="${baseball.radioButton eq 'P' ? 'checked' : ''}" th:field="*{radioButton}">
                    <label class="form-check-label" for="radioButton1">
                      투수
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="radioButton2" name="radioButton" th:value="C" 
                            th:checked="${baseball.radioButton eq 'C' ? 'checked' : ''}" th:field="*{radioButton}">
                    <label class="form-check-label" for="radioButton2">
                      포수
                    </label>
                  </div>
            </div>
            <div class="row mb-3">
                <label class="form-check-label col-sm-1 text-end" for="textString">String</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="textString" th:field="*{textString}" th:text="${textString}">
                </div>
                <label class="form-check-label col-sm-1 text-end" for="textInteger">Integer</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="textInteger" th:field="*{textInteger}" th:text="${textInteger}">
                </div>
                <label class="form-check-label col-sm-1 text-end" for="textDate">Date</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="textDate" th:field="*{textDate}" th:text="${#dates.format(textDate, 'yyyy-MM-dd')}">
                </div>
                <label class="form-check-label col-sm-1 text-end" for="typeDateTime">DateTime</label>
                <div class="col-sm-2">
                    <input type="datetime-local" class="form-control" id="typeDateTime" th:field="*{typeDateTime}" th:text="${#dates.format(typeDateTime, 'yyyy-MM-dd')}">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">저장</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">추가</button>
            </div>
        </form>
    </div>
    <br>
    <div class="container"> 
        <table class="table caption-top">
            <caption>List of users</caption>
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">DropDownNm</th>
                <th scope="col">CheckBox</th>
                <th scope="col">Radio Button</th>
                <th scope="col">String</th>
                <th scope="col">CRUD</th>
              </tr>
            </thead>
            <tbody>
              <th:black th:each="fval, num:${baseballist}">
              <tr>
                <th scope="row" th:text="${num.count}">1</th>
                <td th:text="${fval.dropDownNm}">Mark</td>
                <td th:text="${fval.checkBox}">checkBox</td>
                <td th:text="${fval.radioButton}">radioButton</td>
                <td th:text="${fval.textString}">textString</td>
                <td>
                    <a type="button" class="btn btn-primary" id="btnUpdate" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""
                        th:href="@{/baseball/listposition(manageid=${fval.manageId})}" th:onclick="fnModuleInfo([[ ${fval.manageId} ]])">update</a>
                    <a type="button" class="btn btn-primary" id="btnDelete" th:onclick="deleteposition([[ ${fval.manageId} ]])">delete</a>
                </td>
              </tr>
              </th:black>
            </tbody>
          </table>      
      </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="#" th:action="@{/baseball/listposition}" th:object="${baseballOne}" method="post">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="manageIdModal" th:field="*{manageId}" th:value="${manageId}">
                    <div class="row mb-2">
                        <label for="dropdownCd" class="col-sm-2 col-form-label">포지션</label>
                        <div class="col-sm-8">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:field="*{dropDownCd}">
                                <option selected th:value="${dropDownCd}">Position Select</option>
                                <th:black th:each="pos : ${pos}">
                                    <option id="dropDownCdModal" value="1" th:value="${pos.inCd}" 
                                            th:text="${pos.inNm}" th:field="*{dropDownCd}">One</option>
                                </th:black>
                            </select>
                        </div>                            
                    </div>
                    <div class="row mb-2">
                        <label class="form-check-label col-sm-3 text-end" for="textString">String</label>
                        <div class="col-sm-8">
                        <input type="text" class="form-control" id="textStringModal" th:field="*{textString}" th:text="${textString}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="form-check-label col-sm-3 text-end" for="textInteger">Integer</label>
                        <div class="col-sm-8">
                        <input type="number" class="form-control" id="textIntegerModal" th:field="*{textInteger}" th:text="${textInteger}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="form-check-label col-sm-3 text-end" for="textDate">Date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="textDateModal" th:field="*{textDate}" th:text="${#dates.format(textDate, 'yyyy-MM-dd')}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label class="form-check-label col-sm-3 text-end" for="typeDateTime">DateTime</label>
                        <div class="col-sm-8">
                            <input type="datetime-local" class="form-control" id="typeDateTimeModal" th:field="*{typeDateTime}" th:text="${#dates.format(typeDateTime, 'yyyy-MM-dd')}">
                        </div>                      
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary">추가</button>
                </div>
            </form>            
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>        
    <script th:inline="javascript">

        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            
        console.log('modal close2');    
        console.log(document.getElementById("dropDownCdModal").value); 
        console.log(document.getElementById("dropDownCdModal").text); 

        //document.getElementById("manageIdModal").value = "";
        //document.getElementById("dropDownCdModal").text = "Position Select";
        //document.getElementById("textStringModal").value = "";
        //document.getElementById("textIntegerModal").value = "";
        //document.getElementById("textDateModal").value = "";
        //document.getElementById("typeDateTimeModal").value = "";
        
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        // 
        // Update the modal's content.
        //show.bs.modal hidden.bs.modal
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
        })

        /*<![CDATA[*/

        function deleteposition(manageid) {
            //th:formaction="@{/baseball/deleteposition(manageid=${fval.manageId})}"
            if (confirm(manageid + "번 포지션을 삭제할까요?")) {
                //alert(manageid);
                var uri = /*[[ @{/baseball/deleteposition} ]]*/;
                alert(uri);
                var html = "";

                html += '<form name="dataForm" action="'+uri+'" method="post">';
                html += '<input type="hidden" name="manageid" value="'+manageid+'" />';
                html += '<input type="hidden" name="manageid1" value="aaa" />';
                html += '</form>';

                $("body").append(html);
                document.dataForm.submit();
            }
        }     

        function updateclick() {
            //alert("updateclick");
            //window.location.href="http://www.naver.com";
            $('#btnUpdate').get(0).click();
        }
        
        function fnModuleInfo(str){
            alert("updateclick : " + str);
            $('#exampleModal .modal-content').load("/baseball/listposition?manageid="+str);
            $('#exampleModal').modal();
        }
        /*[- end of function -]*/

        /*]]>*/
    </script>
    <script>
        //$(document).ready(function(){
        //    $("#btnDelete").click(function(){
        //        var dialogYesNo = confirm("삭제하시겠습니까?");
        //        if (dialogYesNo) {
        //            form.submit();
        //        } else {
        //            return false;
        //        }
        //    })
        //})
        //$('.modal').on('show.bs.modal', function (e) {
        //    console.log('modal close1');
        //    console.log($("#dropDownCdModal option:selected").val());
            //$(this).find('form')[0].reset()
        //});
    </script>    
</body>

</html>