<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: head('Baseball Posion Infomation')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"
        th:replace="fragments/common.html :: menu('listPosition')">
    </nav>

    <div class="container">
        <form action="#" th:action="@{/baseball/listposition}" th:object="${baseball}" method="post">
            <div class="row mb-3">
                <input type="text" class="form-control" id="manageId" th:field="*{manageId}" th:value="${manageId}">
                <label for="dropdownCd" class="col-sm-1 col-form-label">포지션</label>
                <div class="col-sm-2">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" th:field="*{dropDownCd}">
                        <option selected th:value="${dropDownCd}">Position Select</option>
                        <th:black th:each="pos : ${pos}">
                            <option id="dropDownCd" value="1" th:value="${pos.inCd}" 
                                    th:text="${pos.inNm}" th:field="*{dropDownCd}">One</option>
                        </th:black>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" 
                    th:checked="${checkBox eq 'Y' ? 'checked' : ''}" th:value="Y" th:field="*{checkBox}" id="chkeckBox">
                    <label class="form-check-label" for="chkeckBox">
                      Indeterminate checkbox
                    </label>
                  </div>
            </div>
            <div class="row mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="radioButton1" name="radioButton" th:value="P" 
                            th:checked="${baseball.radioButton eq 'P' ? 'checked' : ''}" th:field="*{radioButton}">
                    <label class="form-check-label" for="radioButton1">
                      투수
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="radioButton2" name="radioButton" th:value="C" 
                            th:checked="${baseball.radioButton eq 'C' ? 'checked' : ''}" th:field="*{radioButton}">
                    <label class="form-check-label" for="radioButton2">
                      포수
                    </label>
                  </div>
            </div>
            <div class="row mb-3">
                <label class="form-check-label col-sm-1 text-end" for="textString">String</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="textString" th:field="*{textString}" th:text="${textString}">
                </div>
                <label class="form-check-label col-sm-1 text-end" for="textInteger">Integer</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="textInteger" th:field="*{textInteger}" th:text="${textInteger}">
                </div>
                <label class="form-check-label col-sm-1 text-end" for="textDate">Date</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="textDate" th:field="*{textDate}" th:text="${#dates.format(textDate, 'yyyy-MM-dd')}">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div>
                <button type="submit">저장</button>
            </div>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>