<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title th:text="${title}">Hello~ Spring Boot1!</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- AUI Grid 사용을 위해 필요한 소스를 불러옵니다.-->
    <script type="text/javascript" src="../../AUIGrid/AUIGridLicense.js" ></script>
    <script type="text/javascript" src="../../AUIGrid/AUIGrid.js" ></script>
    <!--<script type="text/javascript" src="../../AUIGridJS/ajax.js" ></script> -->

    <!-- ajax 요청을 위한 스크립트입니다. -->
    <script type="text/javascript" src="../../AUIGrid/ajax.js"></script>

    <!-- 데모를 위한 스크립트입니다. -->
    <script type="text/javascript" src="../../AUIGrid/demo.js"></script>

    <!-- 공용 Ajax 요청 스크립트 -->
    <script type="text/javascript" src="../../AUIGrid/common.js"></script>    

    <style type="text/css">
        /* 커스텀 summary total  스타일 */
        .aui-grid-my-footer-sum-total {
            font-weight:bold;
            color:#4374D9;
        }
        .aui-grid-my-footer-sum-total2 {
            text-align:right;
        }
    </style>

    <!-- 스타일 시트 로드 -->
    <link href="../../AUIGrid/AUIGrid_style.css" rel="stylesheet"/>

    <script type="text/javascript">

        function documentReady() {  
            console.log("documentReady");

            // AUIGrid 그리드를 생성합니다.
            createAUIGrid(columnLayout);
            
            // 데이터 요청, 요청 성공 시 AUIGrid 에 데이터 삽입합니다.
            //requestData("../image/revenue_region.json");
        };

        // AUIGrid 칼럼 설정
        var columnLayout = [
            {
            dataField: "idx",
            headerText: "idx",
            dataType : "numeric"
            }
            ,{
            dataField: "nickname",
            headerText: "별명",
            width: 120
            }
            ,{headerText : "신체조건",
                children : [
                    {
                    dataField: "weight",
                    headerText: "weight",
                    dataType : "numeric"
                    }
                    ,{
                    dataField: "height",
                    headerText: "height",
                    dataType : "numeric"}
                ]
            }    
        ];        

        // 푸터 설정
        var footerLayout = [ {
            dataField : "height",
            positionField : "height",
            operation : "COUNT",
            style : "aui-grid-my-footer-sum-total2"
        }, {
            labelText : "Count=>",
            positionField : "weight",
            style : "aui-grid-my-footer-sum-total2"
        }];

        // AUIGrid 를 생성합니다.
        function createAUIGrid(columnLayout) {
            
            var auiGridProps = {};
        
            auiGridProps.enableSorting = true;
        
            // singleRow 선택모드
            auiGridProps.selectionMode = "multipleCells";
            
            // 고정 칼럼 1개
            //auiGridProps.fixedColumnCount = 1;
            
            // 줄번호 칼럼 렌더러 출력 안함
            auiGridProps.showRowNumColumn = false;
        
            // 체크박스 표시 렌더러 출력 안함
            auiGridProps.showRowCheckColumn = true;
            
            auiGridProps = {
		
                //푸터보이기
                showFooter : true,

                // 가로 스크롤 없이 현재 그리드 영역에 채우기 모드
                fillColumnSizeMode : false,
                
                // 세로 스크롤 없이 그리드 출력. 그리드 높이는 데이터에 따라 자동 결정됩니다.
	            autoGridHeight : false,

                editable : false
            };

            // 실제로 #grid_wrap 에 그리드 생성
            myGridID = AUIGrid.create("#grid_wrap", columnLayout, auiGridProps);

            // 푸터 레이아웃 세팅
            AUIGrid.setFooter(myGridID, footerLayout);

            // 정렬 이벤트 바인딩
            AUIGrid.bind(myGridID, "sorting", function(event) {
                var sortingStr = "";
                var sortingFields = event.sortingFields;
                var sortingField;
                var sortingType;
                if(sortingFields.length > 0) {
                    for(var i=0, len=sortingFields.length; i<len; i++) {
                        sortingField = sortingFields[i].dataField;
                        sortingType = sortingFields[i].sortType == 1 ? "오름차순" : "내림차순";
                        sortingStr += sortingField + " : " + sortingType + ", ";
                    }
                } else {
                    sortingStr = "정렬 필드 없음";
                }
                
                document.getElementById("info").innerHTML = "이벤트명 : " + event.type + ", 정렬 필드들 : " + sortingStr; 
            });       
            
            
        }

        function getdata() {
            console.log("getdata");

            let inContId = "1";

            $.ajax({
                url: "../../v1/grid/members1.do/" + inContId,
                type: "GET",
                cache: false,
                dataType: "json",
                data: "",
                success: function(data){

                    // 그리드에 데이터 세팅
			        // data 는 JSON 을 파싱한 Array-Object 입니다.
                    AUIGrid.setGridData(myGridID, data);

			        // 로더 제거
			        AUIGrid.removeAjaxLoader(myGridID);
                },
                error: function (request, status, error){
                    
                    alert("데이터 요청에 실패하였습니다.\r status : " + status);
			        
                    // 로더 제거
			        AUIGrid.removeAjaxLoader(myGridID);
                }
            });

            //requestData("../../grid/members1");
        }
        //컬럼사이즈조정
        function setColumnSize() {
            AUIGrid.setColumnSizeList(myGridID, [100, 100, 100, 100]);	
        }
    </script>    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common.html :: menu('rest')">
    </nav>   
	<div class="container">
        <p>grid</p>
        <div class="mb-3">
            <button class="btn btn-primary" onclick="getdata()">data load</button>
            <button class="btn btn-primary" onclick="setColumnSize()">column size</button>
        </div>
		<!-- 에이유아이 그리드가 이곳에 생성됩니다. -->
		<div id="grid_wrap" style="width:1200px; height:480px; margin:0 auto;"></div>

        <div class="row">
            <p id="info">info</p>
        </div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>        
</body>
</html>