<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godcoder.myhome.mapper.baseballMapper">
    <select id="retrieveBaseball" parameterType="String" resultType="com.godcoder.myhome.entity.baseballDTO">
        <![CDATA[
            SELECT
                   A.MANAGE_ID manageId
                 , A.DROP_DOWN dropDownCd
                 , B.IN_NM dropDownNm
                 , A.CHECK_BOX checkBox
                 , A.RADIO_BUTTON radioButton
                 , A.TEXT_STRING textString
                 , A.TEXT_INTEGER textInteger
                 , A.TEXT_DATE textDate
                 , A.TYPE_DATETIME typeDateTime
                 , A.FILE_ID fileId
              FROM BASEBALL A, COMMON_CODE B
             WHERE A.MANAGE_ID = #{value}
               AND A.DROP_DOWN = B.IN_CD
               AND B.KND_CD = '01'
          ORDER BY A.DROP_DOWN
          LIMIT 1
        ]]>
    </select>

    <select id="retrieveBaseballist" resultType="com.godcoder.myhome.entity.baseballDTO">
        <![CDATA[
            SELECT
                   A.MANAGE_ID manageId
                 , A.DROP_DOWN dropDownCd
                 , B.IN_NM dropDownNm
                 , A.CHECK_BOX checkBox
                 , A.RADIO_BUTTON radioButton
                 , A.TEXT_STRING textString
                 , A.TEXT_INTEGER textInteger
                 , A.TEXT_DATE textDate
                 , A.TYPE_DATETIME typeDateTime
                 , A.FILE_ID fileId
              FROM BASEBALL A, COMMON_CODE B
             WHERE A.DROP_DOWN = B.IN_CD
               AND B.KND_CD = '01'
          ORDER BY A.DROP_DOWN
        ]]>
    </select>

    <delete id="deleteBaseball" parameterType="String">
        <![CDATA[
            DELETE /* SQLID=com.godcoder.myhome.mapper.contentMapper.deleteContent */
              FROM baseball
             WHERE MANAGE_ID = #{value}
        ]]>
    </delete>

    <insert id="insertBaseball" parameterType="com.godcoder.myhome.entity.baseballDTO">
        <selectKey keyProperty="makeId" resultType="String" order="BEFORE">
            SELECT LPAD(CAST(IFNULL(MAX(MANAGE_ID), '0') AS INTEGER) + 1, 4, 0)
            FROM baseball
        </selectKey>
        /* mariadb */
        <![CDATA[
        INSERT INTO baseball (manage_id, drop_down, CHECK_BOX, RADIO_BUTTON
                            , TEXT_STRING, TEXT_INTEGER, TEXT_DATE, TYPE_DATETIME)
                      VALUES (#{makeId}, #{dropDownCd}, #{checkBox}, #{radioButton}
                            , #{textString}, #{textInteger}, #{textDate}, #{typeDateTime})
        ]]>
    </insert>

    <update id="updateBaseball" parameterType="com.godcoder.myhome.entity.baseballDTO">
        /* mariadb */
        <![CDATA[
        UPDATE baseball
           SET drop_down = #{dropDownCd}
             , CHECK_BOX = #{checkBox}
             , RADIO_BUTTON = #{radioButton}
             , TEXT_STRING = #{textString}
             , TEXT_INTEGER = #{textInteger}
             , TEXT_DATE = #{textDate}
             , TYPE_DATETIME = #{typeDateTime}
         WHERE MANAGE_ID = #{manageId}
        ]]>

        <!-- mariadb
        INSERT INTO baseball (manage_id, drop_down)
                      VALUES (#{makeId}, #{DROP_DOWN})
        ON DUPLICATE KEY UPDATE
            drop_down = #{DROP_DOWN}
        -->
        <!-- ORACLE
        MERGE INTO baseball	M
        USING (
            SELECT
                   #{makeId}    MAKE_ID
                 , #{manageId}	MANAGE_ID
                 , #{DROP_DOWN} DROP_DOWN
            ) S
        ON (M.MANAGE_ID = S.MANAGE_ID)
        WHEN MATCHED THEN
        UPDATE SET
            M.DROP_DOWN    = S.DROP_DOWN
        WHEN NOT MATCHED THEN
            INSERT (
                   MANAGE_ID
                 , DROP_DOWN
            )
            VALUES (
                  S.MAKE_ID
                , S.DROP_DOWN
            ); -->
    </update>
</mapper>